More.Services.ClientTest/Service References/MoreService/MoreService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/More.Engine.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/More.Engine.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRuleBookTraceInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RuleBookTraceInformation" nillable="true" type="tns:RuleBookTraceInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRuleBookTraceInformation" nillable="true" type="tns:ArrayOfRuleBookTraceInformation" />
  <xs:complexType name="RuleBookTraceInformation">
    <xs:sequence>
      <xs:element name="_children" nillable="true" type="tns:ArrayOfRuleBookTraceInformation" />
      <xs:element name="_x003C_ContextId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Expression_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_LoopContext_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RuleId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Value_x003E_k__BackingField" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RuleBookTraceInformation" nillable="true" type="tns:RuleBookTraceInformation" />
</xs:schema>