More.Services.ClientTest/Service References/MoreService/MoreService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ccifldeviis01/RulesEngine/MoreService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://ccifldeviis01/RulesEngine/MoreService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/More.Engine.Model" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ruleBook" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="inputs" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/More.Engine.Model" minOccurs="0" name="ExecuteResult" nillable="true" type="q2:ArrayOfRuleBookTraceInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>